<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>Buzzer</title>

  </head>
  <body>
    <header>
      <h1>
        Buzzer
        <img src="/images/Buzzer.png" alt="Buzzer Logo" />
      </h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </nav>
    </header>
    
    <main>
      {{{body}}}
    </main>
    
    <footer>
      &copy; Buzzer 2023
    </footer>
  </body>
</html>