{{! Display a feed of posts }}
<h2>Posts</h2>
<ul>
  {{#each posts}}
    <li>{{this.content}} - {{this.username}} ({{this.timestamp}})</li>
  {{/each}}
</ul>

{{! Form to submit a new post }}
<h2>New Post</h2>
<form action="/posts" method="POST">
  <textarea name="content" rows="3"></textarea>
  <input type="submit" value="Post">
</form>
