/* Reset some default browser styles */
body {
  margin: 0;
  padding: 0;
}

/* Style the header */
header {
  background-color: #6ebeff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header h1 {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
}

header img {
  height: 100%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: larger;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s ease;
}

nav a:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Style the main content */
main {
  margin: 20px;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
}

textarea {
  width: 100%;
}

input[type="submit"] {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #111111;
}

/* Style the footer */
footer {
  background-color: #6ebeff;
  color: #000000;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}


/* Media queries for different screen sizes */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  nav ul {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  nav li {
    margin: 0;
  }
  
  main {
    margin: 10px;
  }
  
  header img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  header h1 {
    font-size: 20px;
  }
  
  nav a {
    font-size: 14px;
    padding: 8px;
  }
  
  h2 {
    font-size: 1.2rem;
  }
  
  li {
    font-size: 0.9rem;
  }
  
  form {
    margin-top: 10px;
  }
  
  textarea {
    font-size: 0.9rem;
  }
  
  input[type="submit"] {
    font-size: 0.8rem;
    padding: 8px;
  }
  
  header img {
    max-width: 150px;
  }
}